{% load static %}
{% load bootstrap3 %}
 
 
{% block styles %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    {% comment %} {% bootstrap_css %} {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
{% endblock %}  
{% block content %}
<div class= "box">

    {% include 'navbar.html' %}
    <div class='right-panel'>
        <div class= "pic-name" ><h1>MY PHOTO GALLERY</h1></div>
        <div class="quote-div">
            <div class="pic-info"></div>
            <p class="top">“To me, photography is an art of observation. It’s about finding something interesting in an ordinary place… I’ve found it has little to do with the things you see and everything to do with the way you see them.”
                — <strong>Elliott Erwitt</strong></p>
        </div>
    </div>  
</div>
{% endblock  %}