{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
{% endblock %}  
{% block content %}
<div class= "box">

    <div class='left-panel'>
        <ul>  
            <li class= "active"><a href="#" >Home</a></li>
            
        {% for category in categories  %}
            <li><a href="{% url 'categorypics' category.id%}#{{category}}" onClick="">{{category}}</a></li>
            <hr>
        {% endfor %}
        </ul> 
        
    </div>
    <div class='right-panel'>
        <div class="row">
            {% if images%}
            <h2>Found {{ images|length }} of searched term {{category}}</h2>
            {% else %}
            <h2> Found 0 images for the searched category {{category}}</h2>
            {% endif %}

        </div>
        <div class="popup">
            {% for image in images %}
                <img src="{{image.img.url}}" alt ="Image" style="width:250px; height:250px;" class="wildlife" id="{{image.description}}">
            {% endfor %}
        </div>
        <div class="show">
            <div class="overlay"></div>
            <div class="img-desc">
                <div class="img-show">
                    <span>X</span>
                    <img src="">
                </div>
                <p><strong>Description:</strong></p>
                <button>copy</button>
            </div>
            {% comment %} <div class="img-desc">
                <p style="color:white; font-size:40px;"><strong>Description:</strong></p>
            </div> {% endcomment %}
        </div>
         
        {% comment %} <div class= "pic-name" ><h1 class="active">MY PHOTO GALLERY</h1></div>
        <div class="pic-info">
        </div>
        <p class="top">“To me, photography is an art of observation. It’s about finding something interesting in an ordinary place… I’ve found it has little to do with the things you see and everything to do with the way you see them.”
            — <strong>Elliott Erwitt</strong></p>
         {% endcomment %}
    </div>  
</div>
{% endblock  %}