{% load static %}
{% load bootstrap3 %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
{% comment %} <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js" ></script> {% endcomment %}
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>

{% block styles %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
{% endblock %}  
{% block content %}
<div class= "box">

    {% include 'navbar.html' %}
    <div class='right-panel'>
          <div class="popup">
            {% for image in images %}
                <div class="image-card">
                    <div class="wildlife">
                        <img src="{{image.img.url}}" alt ="Image" id="{{image.description}}">
                        <span><input class="url-field" type="text" value="https://galleryofpics.herokuapp.com{{image.img.url}}" id="p{{image.id}}"></span>
                    </div>
                    
                    <button class="copy-btn btn btn-primary" id="{{image.id}}"><i class="fas fa-clone"></i></button>
                </div>
            {% endfor %}
        </div>
        <div class="show">
            <div class="overlay"></div>
            <div class="img-desc">
                <div class="img-show">
                    <span>X</span>
                    <img src="">
                </div>
                <p><strong>Description:</strong></p>
              
            </div>
          
        </div>
     
    </div>  
</div>
{% endblock  %}